<div class="settings">
	<div class="block">
		<select id="delay-value">
			<option value="10" selected>10</option>
			<option value="5">5</option>
			<option value="2">2</option>
		</select>
		<div>
			delay
		</div>
	</div>
	<div class="block">
		<select id="delay-value">
			<option value="0" selected>0</option>
			<option value="2">2</option>
			<option value="5">5</option>
		</select>
		<div>
			burst
		</div>
	</div>
	<div class="block">
		<a href="#" class="btn-back"></a>
		<div>
			back
		</div>
	</div>
	<div class="block">
		<a href="#" class="btn-flash"></a>
		<div>
			flash
		</div>
	</div>
</div>