* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#262c38;
    
}

html, body {
	width: 320px;
    height: 320px;
    position: relative;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
	width: 320px;
	padding: 0;
	margin: 0;
}

.logo {
	background: url('../img/logo.png') no-repeat;
	width: 320px;
	height: 320px;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
}

.content {
	font-weight:bold;
	font-size:2em;
	color:#fff;
}
.camera {
	width: 320px;
	height: 320px;
	background: #ddd;
	background: url('../img/watch.png') no-repeat;
}

.menu-bar {
	background: #00ADEF;
	height: 60px;
	width: 320px;
	position: absolute;
	bottom: 0;
}

/*.logo {
	display: none;
}*/


a.btn {
	height: 60px;
	width: 60px;
	text-decoration: none;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}

a.btn.left {
	left: 0;
	width: 80px;
	background: url('../img/back.png') no-repeat center;
}

a.btn.center {
	left: 110px;
	width: 100px;
	background: url('../img/capture.png') no-repeat center;
}

a.btn.right {
	right: 0;
	width: 80px;
	background: url('../img/setting.png') no-repeat center;
}

a.btn-home {
	display: inline-block;
	width: 80px;
	height: 80px;
	padding: 35px;
}

a.btn-camera {
	background: url('../img/photo.png') no-repeat center;
}

a.btn-gallery {
	background: url('../img/gallery.png') no-repeat center;	
}

a.btn-exit {
	background: url('../img/exit.png') no-repeat center;	
}

a.btn-setting {
	background: url('../img/settings.png') no-repeat center;	
}

.gallery-wrapper {
	width: 320px;
	height: 320px;
	/*overflow-y: hidden;
	overflow-x: scroll;*/
	overflow-x: hidden;
	overflow-y: scroll;
}
.gallery {
	width: 320px;
	/*min-width: 320px;*/
}
.gallery .photo {
	height: 320px;
	width: 320px;
	display: inline-block;
}

.gallery .photo img {
	height: 320px;
	width: 320px;
}

.center {
	text-align: center;
}



.settings {
	width: 320px;
	height: 320px;
	overflow: hidden;
}

.block {
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
}

a.btn-back {
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
	background: url('../img/back.png') no-repeat center;
}

a.btn-flash {
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
	background: url('../img/flash.png') no-repeat center;
}

.settings select {
	border: none;
	background: none;
	color: #fff;
	margin-top: 15px;
	width: 80px;
	height: 50px;
	font-weight: bolder;
	font-size: 1.15em;
}