<div class="settings">
	<div class="block">
		<select id="delay-value" data-name="delay" ng-model="delay" ng-options="delay for delay in delays">
		</select>
		<div>
			delay
		</div>
	</div>
	<div class="block">
		<select id="burst-value" data-name="burst" ng-model="burst" ng-options="burst for burst in bursts">
		</select>
		<div>
			burst
		</div>
	</div>
	<div class="block">
		<a href="#" class="btn-back"></a>
		<div>
			back
		</div>
	</div>
	<div class="block">
		<select id="flash-value" data-name="block" ng-model="flash" ng-options="flash.id as flash.name for flash in flashes">
		</select>
		<div>
			flash
		</div>
	</div>
</div>